USE MASTER
GO

IF EXISTS( SELECT * FROM  sys.databases WHERE NAME = 'QLHANGTHEP')
   DROP DATABASE QLHANGTHEP
USE MASTER
GO
CREATE DATABASE QLHANGTHEP
GO	
USE QLHANGTHEP
GO



CREATE TABLE USERS
(
	USERNAME VARCHAR(20) PRIMARY KEY NOT NULL,
	[PASSWORD] VARCHAR(50),
	FULLNAME NVARCHAR(50),
	ROLEID VARCHAR(5),
	ENABLED BIT,
	CREATEBY VARCHAR(50),
	CREATEDATE DATETIME,
	MODIFYBY VARCHAR(50),
	MODIFYDATE DATETIME,
)
GO


INSERT INTO USERS VALUES('banhang','banhang',N'Lê Tấn Đạt','BH','True', null, null,null,null)
INSERT INTO USERS VALUES('admin','admin',N'Lê Tấn Đạt','AD','True', null, null,null,null)


CREATE TABLE NHAP_HANG
(
	STT INT IDENTITY(1,1) 
	MAHANG		VARCHAR(20) PRIMARY KEY NOT NULL,
	TENHANG		NVARCHAR(250),  
	DVT			NVARCHAR(250),
	SOLUONG		FLOAT,
	GIANHAP		FLOAT,
	GIABAN		FLOAT,	
	NGAYCNGIA	DATETIME,
	TRONGLUONG	FLOAT,	
	GHICHU		NVARCHAR(MAX),
	CREATEBY	VARCHAR(50),
	CREATEDATE	DATETIME,
	MODIFYBY	VARCHAR(50),
	MODIFYDATE	DATETIME,
)
GO8

CREATE TABLE NHAP_HANG_HIS
(
	STT INT ,
	MAHANG		VARCHAR(20),
	TENHANG		NVARCHAR(250),  
	DVT			NVARCHAR(250),
	SOLUONG		FLOAT,
	GIANHAP		FLOAT,
	GIABAN		FLOAT,	
	NGAYCNGIA	DATETIME,
	TRONGLUONG	FLOAT,	
	GHICHU		NVARCHAR(MAX),
	CREATEBY	VARCHAR(50),
	CREATEDATE	DATETIME,
	MODIFYBY	VARCHAR(50),
	MODIFYDATE	DATETIME,
)
GO

CREATE TABLE HOADON
(	
	MAHD	VARCHAR(50) PRIMARY KEY,
	TENKH	NVARCHAR(250),
	DIACHI	NVARCHAR(250),
	SODT	NVARCHAR(250),
	TIENHANG	DECIMAL,
	TIENBAN	DECIMAL,
	GHICHU	NVARCHAR(250),
	NGAYLAP	 DATETIME,
	CREATEBY	VARCHAR(50),
	CREATEDATE	DATETIME,
	MODIFYBY	VARCHAR(50),
	MODIFYDATE	DATETIME,
)
GO

CREATE TABLE CT_HOADON
(	
	MAHD 	VARCHAR(50),
	MAHANG 	VARCHAR(50),
	TENHANG		NVARCHAR(250),  
	SOLUONG		DECIMAL,
	DGNHAP		DECIMAL,
	DGBAN 		DECIMAL,
	TONGTIENNHAP	DECIMAL,
	TONGTIENBAN	DECIMAL,
	CREATEBY	VARCHAR(50),
	CREATEDATE	DATETIME,
	MODIFYBY	VARCHAR(50),
	MODIFYDATE	DATETIME,
	CONSTRAINT PK_CT_HOADON PRIMARY KEY (MAHD,MAHANG)
)
GO



CREATE TABLE TIENQUY
(

	TONGSOTIEN	DECIMAL,
	NGAYNHAP	DATETIME
)
GO

CREATE TABLE NHATKY_TIENQUY
(
	ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	DUTRUOC		DECIMAL,
	NGAYDU	DATETIME,
	TIENNHAP	DECIMAL,
	QUYNHAP		DECIMAL,
	GHICHU		NVARCHAR(MAX),	
	NGAYNHAP	DATETIME,
	CREATEBY	VARCHAR(50),
	CREATEDATE	DATETIME
)
GO

CREATE TABLE CT_TIENQUY
(
	ID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
	CHUNGTU	NVARCHAR(250),
	SOTIEN  DECIMAL,
	NGAYCT	DATETIME,
	LYDO	NVARCHAR(MAX),
	CREATEBY	VARCHAR(50),
	CREATEDATE	DATETIME,
	MODIFYBY	VARCHAR(50),
	MODIFYDATE	DATETIME,
	
)
GO