html, body{
	margin: 0 auto;
	padding: 0;
	background: #d9f1fb;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
	font-style:normal;	
}

#Home{
	margin: 0 auto;
	width: 1000px;
}

#Home .Header{
	margin: 0;
	padding: 0;
	height: 100px;
	position: relative;
	background-image: url(../../Image/bg_head.jpg);
}
#Home .Menu{
	margin: 0;
	padding: 0;
	height: 35px;
	border-bottom: 5px #fd0700 solid;
	background-color:#02579D;
/*	background: #081768 url(/portal/Image/menu_bg.png) repeat-x top;*/
	z-index: 999;
}

/* Content */
#Home .Content{
	margin: 0 0 0 0;
	padding: 0;
	height:700px;
	background-color: White;
}
.sanphamchay
{
    margin: 0 0 0 0;
	padding: 0;
	height:320px;
	width:200px;
	background-color: Yellow;
}   
.sanphammoi
{
    margin: 0 0 0 0;
	padding: 0;
	height:316px;
	width:200px;
	background-color: Yellow;
}   
    

div.Pages_content{
	float: right;
	width: 612px;
	margin: 0;
	padding: 0;
	height:695px;
	background: #FFF url(../../Image/news_list_bg.gif) repeat-x top;
	border: 1px #E0E0E0 solid;
}
div.title_page {
    border-bottom: 2px solid #663300;
    color: #006600;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 0;
    text-transform: uppercase;
}
div.name {
    border-bottom: 2px solid #663300;
    color: #006600;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 0;
    text-transform: uppercase;
}

div.news_contain{
	padding:0 10px 10px;
}

/* Content */
/*--------------------- Foot -----------------------*/

#Home .Foot{
	margin: 0;
	padding:0;
	height: 78px;
	background-color : #030b4c ;
	font:normal 12px Arial, Tahoma, Helvetica, sans-serif;
	color: #FFF;
}

#Home .Foot .copyright{
	float: left;
	margin: 7px 10px;
}

#Home .Foot .linkfoot
{
    margin: 0;
	padding: 0;
	float: right;
	width: 300px;
	margin-top: 7px; margin-right: 10px;
	text-align: right;
	/*background: #FFF url(/portal/Image/menu_bg.png);*/
	background-color:#030b4c;
	font:bold 13px Arial, Tahoma, verdana, sans-serif;
	color:#FFF;
	/*
;*/
}

.linkfoot ul{
	list-style: none;
	font:normal 11px Arial, Tahoma, Helvetica, sans-serif;
	font-weight: bold;
	padding:0; float: right;
	margin:0;
}

.linkfoot ul li{
	float: left;
	display:inline;
	padding: 0 10px;
	border-right: 1px #6699FF solid;
	color: #FFF;
}

.linkfoot ul li.last{
	border:0;
	padding-left:10px;
	padding-right:0;
}

.linkfoot ul li a:link,
.linkfoot ul li a:visited,
.linkfoot ul li a:active{
	font-weight: bold;
	color: #FFF;
	text-decoration:none;
}

.linkfoot ul li a:hover{
	color: #0E7B98;
}


a.linkfoot_text,
a.linkfoot_text:link
a.linkfoot_text:visited
a.linkfoot_text:active{
	color: #6699FF;
	text-decoration:none;
}

a.linkfoot_text:hover{
	color: #FFF;
	text-decoration:underline;
}