USE MASTER
GO

IF EXISTS( SELECT * FROM  sys.databases WHERE NAME = 'WEBDEMO')
   DROP DATABASE WEBDEMO
USE MASTER
GO
CREATE DATABASE WEBDEMO
GO	
USE WEBDEMO
GO

CREATE TABLE USERS
(
	USERNAME VARCHAR(20) PRIMARY KEY NOT NULL,
	PASSWORD VARCHAR(50),
	FULLNAME NVARCHAR(50),
	ROLEID VARCHAR(5),
	ENABLED BIT,
	CAP	INT,
	MAPHONG VARCHAR(20),
	CREATEBY VARCHAR(50),
	CREATEDATE DATETIME,
	MODIFYBY VARCHAR(50),
	MODIFYDATE DATETIME
)
GO

INSERT INTO USERS VALUES('admin','y47NNdw/OT0=',N'Lê Tấn Đạt','AD','True',0,'TIT', null, null,null,null)
INSERT INTO USERS VALUES('user','y47NNdw/OT0=',N'Đổ Lưu Huỳnh','US','True',0,'TIT', null, null,null,null)


CREATE TABLE LOCATION(
	[X] [float] NULL,
	[Y] [float] NULL,
	[MUC] [int] NULL,
	[LOCATIONID] [varchar](20) NOT NULL,
	[LOCATIONNAME] [nvarchar](250) NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[EMLOYEENAME] [nvarchar](250) NULL,
	[IMG] [nvarchar](50) NULL,
	[STT] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY
)
GO

INSERT INTO LOCATION(X, Y, MUC, LOCATIONID, LOCATIONNAME, [ADDRESS], EMLOYEENAME, IMG) VALUES('10.7546172','106.588651','16','CH1','Cửa Hàng Tiến Phát','68 Trần Thanh Mại Phường 4 Q. Bình Tân','Anh Tiến','Image/1.jpg')
INSERT INTO LOCATION(X, Y, MUC, LOCATIONID, LOCATIONNAME, [ADDRESS], EMLOYEENAME, IMG) VALUES('10.7540264','106.588622','16','CH2','Cửa hàng Kim Cương','74 Trần Thanh Mại Phường 4 Q. Bình Tân','Chị Kim','Image/2.jpg')
INSERT INTO LOCATION(X, Y, MUC, LOCATIONID, LOCATIONNAME, [ADDRESS], EMLOYEENAME, IMG) VALUES('10.7523963','106.588333','16','CH3','Cửa hàng Thu Vân','140 Trần Thanh Mại Phường 4 Q. Bình Tân','Chị Vân','Image/3.jpg')
