USE MASTER
GO

IF EXISTS( SELECT * FROM  sys.databases WHERE NAME = 'DIENCO')
   DROP DATABASE DIENCO
USE MASTER
GO
CREATE DATABASE DIENCO
GO	

USE DIENCO
GO


CREATE TABLE SYS_ROLES(
	ROLEID VARCHAR(5)  PRIMARY KEY NOT NULL,
	ROLENAME NVARCHAR(50)	
)
GO

INSERT INTO SYS_ROLES VALUES('AD','Administrators')
INSERT INTO SYS_ROLES VALUES('US','Users')
INSERT INTO SYS_ROLES VALUES('QT',N'Quản Trị')

CREATE TABLE SYS_USERS
(
	USERNAME	VARCHAR(20) PRIMARY KEY NOT NULL,
	[PASSWORD]	VARCHAR(50),
	FULLNAME	NVARCHAR(50),
	ROLEID		VARCHAR(5),
	[ENABLED]	BIT,
	[LEVEL]			INT,
	CONSTRAINT FR_USERS FOREIGN KEY (ROLEID) REFERENCES SYS_ROLES(ROLEID),
	CREATEBY	VARCHAR(50),
	CREATEDATE	DATETIME,
	MODIFYBY	VARCHAR(50),
	MODIFYDATE	DATETIME
)
GO

INSERT INTO SYS_USERS VALUES('admin','y47NNdw/OT0=',N'Lê Tấn Đạt','AD','True',0,null, null,null,null)


CREATE TABLE LOAISANPHAM
(
	MALOAI VARCHAR(20) PRIMARY KEY NOT NULL,
	TENLOAI	NVARCHAR(MAX)
)
GO

CREATE TABLE HIEUSANPHAM
(
	MAHIEU VARCHAR(20) PRIMARY KEY NOT NULL,
	TENHIEU	NVARCHAR(MAX) 
)

CREATE TABLE SANPHAM
(
	MASP	VARCHAR(20) PRIMARY KEY NOT NULL,
	MALOAI	VARCHAR(20),
	MAHIEU	VARCHAR(20),
	KYTUAT	VARCHAR(20),
	TENSP	NVARCHAR(MAX),
	GIA		FLOAT,
	MOTA	NVARCHAR(MAX),
	CHITIET NVARCHAR(MAX),
	ANH		NVARCHAR(MAX),
	SAPMOI	BIT,
	BANCHAY BIT,
	LANXEM	INT,
	GIAMGIA FLOAT,
	CREATEBY	VARCHAR(50),
	CREATEDATE	DATETIME,
	MODIFYBY	VARCHAR(50),
	MODIFYDATE	DATETIME,
	CONSTRAINT FR_SANPHAM_LOAI FOREIGN KEY (MALOAI) REFERENCES LOAISANPHAM(MALOAI),
	CONSTRAINT FR_SANPHAM_HIEU FOREIGN KEY (MAHIEU) REFERENCES HIEUSANPHAM(MAHIEU)
)
GO

CREATE TABLE PAGES
(
	MAPAGES VARCHAR(20) PRIMARY KEY NOT NULL,
	PAGESNAME NVARCHAR(MAX),
	NOIDUNG	NVARCHAR(MAX)
)
GO
INSERT INTO PAGES VALUES('GT',N'GIỚI THIỆU',N'NỘI DUNG TRANG GIỚI THIỆU')
INSERT INTO PAGES VALUES('TD',N'TUYỂN DỤNG',N'NỘI DUNG TRANG TUYỂN DỤNG')
INSERT INTO PAGES VALUES('LH',N'LIÊN HỆ',N'NỘI DUNG TRANG LIÊN HỆ ')

CREATE TABLE NEWS
(
	NEWSID INT IDENTITY (1,1) PRIMARY KEY NOT NULL,
	NEWSTILE NVARCHAR(MAX),
	NEWIMG	NVARCHAR(MAX),
	NEWSDICRIPTION NVARCHAR(MAX),
	NEWSCONTENT	NVARCHAR(MAX),
	CREATEBY	VARCHAR(50),
	CREATEDATE	DATETIME,
	MODIFYBY	VARCHAR(50),
	MODIFYDATE	DATETIME
)
GO
